<div class="container">

  <% unless notice.nil? %><div class="alert alert-success" role="alert"><p><%= notice %></p></div><% end %>
  <% unless alert.nil? %><div class="alert alert-danger" role="alert"><p><%= alert %></p></div><% end %>

  <div class="page-header">
    <h1>Project Amy</h1>
  </div>

  <% if user_signed_in? %>

      <p class="lead">
        Just add &laquo;amy@sendonfly.com&raquo; to your reply:
      </p>

      <p><%= image_tag('how-1.png', :class => "how_image") %></p>

      <p class="lead">
        and Amy creates a meet for your colleagues in your google calendar:
      </p>

      <p><%= image_tag('how-2.png', :class => "how_image") %></p>

      <p>
        Amy looking for a nearest free hour in your calendar (at business time 10-18 workday), creates an event and send a notifications to all participants.
      </p>

      <h2>That's all!</h2>

      <p>
        You always can withdraw permissions from Amy at <a href="https://security.google.com/settings/security/permissions" target="_blank">this page</a>.
      </p>

      <p>
        <%= link_to 'Logout', destroy_user_session_path, :method => "DELETE", :class => 'btn btn-default' %>
      </p>

  <% else %>

      <p><%= image_tag('secretary2', :class => "home_image") %></p>

      <p class="lead">
        Your personal secretary creates appointments just from e-mail.
      </p>

      <p>
        <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-success' %>
      </p>

  <% end %>

</div>