<div class="container">

  <% unless notice.nil? %><div class="alert alert-success" role="alert"><p><%= notice %></p></div><% end %>
  <% unless alert.nil? %><div class="alert alert-danger" role="alert"><p><%= alert %></p></div><% end %>

  <div class="page-header">
    <h1>
      <% if user_signed_in? && !current_user.image_url.nil? %>
      <%= image_tag(current_user.image_url, :class => 'avatar') %>
      <% end %>
      Project Amy
    </h1>
  </div>

  <% if user_signed_in? %>

      <p>
        Successfully logged as <%=h current_user.email %>
      </p>

      <p class="lead">
        Just add &laquo;amy@sendonfly.com&raquo; to your reply:
      </p>

      <p><%= image_tag('how-1.png', :class => "how_image") %></p>

      <p class="lead">
        Amy creates a meet in your google calendar and send invites to your colleagues:
      </p>

      <p><%= image_tag('how-2.png', :class => "how_image") %></p>

      <p>
        Amy looking for a nearest free hour in calendars of all participants (at business time 10-18 workday), creates an event and send a notifications to all participants.
      </p>

      <h2>That's all!</h2>

      <p>
        If you decide to cancel this service, you always can withdraw permissions from Amy at <a href="https://security.google.com/settings/security/permissions" target="_blank">this page</a>.
      </p>

      <p>
        <%= link_to 'Logout', destroy_user_session_path, :method => "DELETE", :class => 'btn btn-default' %>
      </p>

  <% else %>

      <p><%= image_tag('how-1-2.jpg', :class => "home_image") %></p>

      <p class="lead">
        Your personal secretary creates meeting in your Google Calendar right out from e-mail, and invite your partners.
      </p>

      <p>
        <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), :class => 'btn btn-success' %>
      </p>

  <% end %>

</div>