<!DOCTYPE html>
<html>
<head>
  <title>Amy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>

<%= yield %>

<!--<div class="alert alert-success" role="alert"><p><%= notice %></p></div>
<div class="alert alert-warning" role="alert"><p><%= alert %></p></div>-->

<footer class="footer">
  <div class="container">
    <p class="text-muted pull-right">
      <a target="_blank" href="https://github.com/dobryakov/amy">Bugreports and contribute</a>
    </p>
  </div>
</footer>

</body>
</html>
